@{
    ViewData["Title"] = "Home";
}

<!-- Hero -->
<section id="hero" class="hero d-flex align-items-center" style="background-image: url('@Url.Content("~/images/hero-bg.jpg")');">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-7 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Bienvenido a Plataforma Empleo</h1>
                <h2 data-aos="fade-up" data-aos-delay="100">Encuentra oportunidades laborales y gestiona tu perfil con facilidad</h2>
                <div data-aos="fade-up" data-aos-delay="200">
                    <a class="btn btn-primary btn-get-started" asp-controller="OfertaEmpleos" asp-action="Index">Ver ofertas</a>
                    <a class="btn btn-outline-secondary ms-2" asp-controller="CVs" asp-action="Index">Mi CV</a>
                </div>
            </div>

            <div class="col-lg-5 d-none d-lg-block" data-aos="zoom-in" data-aos-delay="300">
                
                <img src="~/img/Ilustracion.jpeg" alt="hero" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<!-- Features de main.css-->
<section id="features" class="features light-background py-5">
    <div class="container">
        <header class="section-header text-center mb-4">
            <h2>Características</h2>
            <p>¿Qué ofrece nuestra plataforma?</p>
        </header>

        <div class="row gy-4">
            <div class="col-md-4 text-center" data-aos="fade-up">
                <i class="bi bi-briefcase fs-1 text-primary"></i>
                <h4>Oportunidades</h4>
                <p>Accede a empleos modernos y bien filtrados.</p>
            </div>

            <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-person-check fs-1 text-primary"></i>
                <h4>Perfil Profesional</h4>
                <p>Crea un perfil profesional atractivo</p>
            </div>

            <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-chat-dots fs-1 text-primary"></i>
                <h4>Soporte</h4>
                <p>Asistencia en todo momento</p>
            </div>
        </div>
    </div>
</section>



