@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
    ViewData["BodyClass"] = "access-denied-page";
}

<link rel="stylesheet" href="~/css/AccessDenied.css" />

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>403</h1>
            <h2>Acceso Denegado</h2>
        </div>
        <a href="/">Inicio</a>
    </div>
</div>





