@page
@model LoginModel
@{
    Layout = "/Areas/Identity/Pages/Shared/Index.cshtml";
    ViewData["Title"] = "Login";
}

<div class="page_wrapper">
    <div class="table" id="outer_table">
        <div class="table_cell half">
            <div class="content">

                <h2>Welcome Back</h2>
                <hr />
                <br />

                <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <label>Email</label><br />
                    <input asp-for="Input.Email" placeholder="Email" class="form-input" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span><br />

                    <label>Password</label><br />
                    <input asp-for="Input.Password" type="password" placeholder="••••••••" class="form-input" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span><br />

                    <input type="submit" value="Login" class="button-submit" />
                </form>

                <br />
                <a asp-page="./Register" class="small-text">Don't have an account? Register →</a>

            </div>
        </div>

        <div class="table_cell half right">
            <h3>Your secure platform</h3>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


