@model PlataformaEmpleo.Models.CV

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-white-special">Editar Información del CV</h1>

<h4 class="text-white-special">Currículo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCV" />

            <div class="form-group">
                <label class="text-white-special">Nombre del candidato</label>
                <select asp-for="CandidatoId" class="form-control" asp-items="ViewBag.CandidatoId"></select>
                <span asp-validation-for="CandidatoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-white-special">Perfil Profesional</label>
                <input asp-for="PerfilProfesional" class="form-control" />
                <span asp-validation-for="PerfilProfesional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-white-special">Formación Academica</label>
                <input asp-for="FormacionAcademica" class="form-control" />
                <span asp-validation-for="FormacionAcademica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-white-special">Experiencia Laboral</label>
                <input asp-for="ExperienciaLaboral" class="form-control" />
                <span asp-validation-for="ExperienciaLaboral" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-white-special">Habilidades</label>
                <input asp-for="Habilidades" class="form-control" />
                <span asp-validation-for="Habilidades" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-white-special">Idiomas</label>
                <input asp-for="Idiomas" class="form-control" />
                <span asp-validation-for="Idiomas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-white-special">Certificaciones</label>
                <input asp-for="Certificaciones" class="form-control" />
                <span asp-validation-for="Certificaciones" class="text-danger"></span>
            </div>
            <input type="submit" value="Guardar" class="btn btn-contraste" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="text-white-special">Volver a la lista</a>"
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
