@model PlataformaEmpleo.Models.OfertaPostulacion

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-white-special">Editar</h1>

<h4 class="text-white-special">Oferta Postulación</h4>
<hr />
<div class="row">
    <div class="text-white-special" ="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OfertasPostulacionesId" />

            <div class="form-group">
                <label class="text-white-special">Postulación</label>
                <select asp-for="IdPostulacion" class="form-control" asp-items="ViewBag.IdPostulacion"></select>
                <span asp-validation-for="IdPostulacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="text-white-special">Oferta de empleo</label>
                <select asp-for="IdOferta" class="form-control" asp-items="ViewBag.IdOferta"></select>
                <span asp-validation-for="IdOferta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="OfertaPostulacion" asp-action="Index" class="text-white-special">Volver a la lista</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
