@model PlataformaEmpleo.Models.Candidato

@{
    ViewData["Title"] = "Edit";
}

<h1 class ="text-white-special">Editar Perfil</h1>

<h4 class="text-white-special">Editar información del candidato</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCandidato" />

            <div class="form-group">
                <label class="text-white-special">Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="text-white-special">Apellido</label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="text-white-special">Teléfono</label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="text-white-special">Ciudad</label>
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <input type="submit" value="Guardar" class="btn btn-contraste" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="text-white-special">Volver a la lista</a>"
</div>

