@model PlataformaEmpleo.Models.Reclutador

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-white-special">Crear Perfil</h1>

<h4 class="text-white-special">Información del reclutador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="text-white-special">Nombre Empresa</label>                
                <input asp-for="NombreEmpresa" class="form-control" />
                <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-white-special">Correo para atención</label>
                <input asp-for="CorreoEmpresa" class="form-control" />
                <span asp-validation-for="CorreoEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-contraste" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Reclutadores" asp-action="Index" class="text-white-special">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
